[submodule "site-lisp/vendor/org-mode"]
	path = site-lisp/vendor/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/vendor/ruby-rinari"]
	path = site-lisp/vendor/ruby-rinari
	url = git://github.com/eschulte/rinari.git
